*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 500px;
    height: 500px;
    background-color: aliceblue;
    border: 2px solid beige;
    position: relative;
}
.box{
    width: 100px;
    height: 100px;
    background-color: navajowhite;
    margin: 4px;
    color: #000;
}
.container .box1 {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 50%;
}
.container  .box2{
    background-color: aqua;
    width: 120px;
}